
/* .st-key-room button
{
    
} 

.st-key-booking button
{
    background-color: brown;
} */
 .st-key-RoomAddition button
 {
    margin-left: 350px;
    margin-top: 20px;
    background-color:#9BABB8;
 }
.stApp
{
    background-color: #EEE3CB;
}
.stSidebar
{
    background-color: #967E76;
}