
.st-key-logout button
{
    background-color: #EFEFD0;
    
} 
 .st-key-RoomAddition button
 {
    margin-left: 335px;
    margin-top: 20px;
    background-color:#9BABB8;
 }

.stSidebar
{
    background-color: #e29578;
}
.st-key-Regular button
{
    background-color: #EFEFD0
}
.st-key-King-Bed button
{
    background-color: #EFEFD0
}
.st-key-Deluxe button
{
    background-color: #EFEFD0
}

.st-key-confirm button
{
    background-color: #EFEFD0
}
.stColumn
{
    border-width: 3px !important;
    border-color: #FF5733 !important;
}
div.st-emotion-cache-1fmfajh.eu6p4el5
{
    border-color: #FF5733 !important;
    border-width: 3px !important;

}

